<!-- <p>book-list works!</p> -->
<h1>{{ name }} </h1>
<table>
    <thead>
        <tr>
            <th>N°</th>
            <th>Titre</th>
            <th>Auteur</th>
            <th>Statut</th>
        </tr>
    </thead>
    <tbody>
        <!-- parcours du tableau books -->
       <!-- directive *ngFor pour parcourir le tableau contenant les livres à afficher -->
            <tr *ngFor="let book of books; let i = index">
                <td>{{i + 1}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.statut}}</td>
            </tr>
        
    </tbody>
</table>
