<div class="img">
    <a href="#">
        <!-- [src]="logo" est appelée du property binding 
        liaison de propriété-->
        <img [src]="logo" [alt]="alt" class="logo">
    </a>
</div>

<nav>
    <ul>
        <li><a href="#">Accueil</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">A propos</a></li>
    </ul>
</nav>
<div class="container">
    <form action="" method="POST">
        <input type="text" name="task" placeholder="Ajouter le titre"/>
        <input type="text" name="author" placeholder="Ajouter l'auteur"/><br>
        <button> Add Book</button>
    </form>
</div>